body {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f1f1f1;
	height: 100%;
	padding: 10px 10px 0 10px;
}

html {
	height: 100%;
}

.container {	
	background: rgb(255, 255, 255);
	width: 100%;
	min-height: 100%;	
	border-radius: 5px;
}

.row {
	display: flex;
	padding: 0 39px 0 30px;
	align-items: center;	
}

.row:hover {
	background-color: rgb(223, 231, 255);
}

.navBar {	
	justify-content: space-between;
	background: rgb(255, 255, 255);
	height: 79px;	
}

.navBar:hover {
	background: rgb(255, 255, 255);
}

.navBox1 span {	
	display:inline-block;
	color: rgb(0, 0, 0);
	font-family: Avenir-Black;
	font-size: 25px;
	font-weight: 900;
	height: 34px;
	letter-spacing: 0.26px;
	width: 287px;
}

.navBox2 button{
	border-radius: 5px;
	border: 1px solid rgb(203,203,203);
	color:  rgb(150,150,150);
	height: 30px;
	width: 207px;
	background: rgb(255, 255, 255);
	margin-left: 14px
}

.navBox2 button:hover {
	background: rgb(151, 151, 151);
	color: white;
	cursor: pointer;
}

.box1 {		
	flex: 0;
}

.box2 {		
	flex: 1;
}

.box2 img {
	border-radius: 50%;
	width: 44px;
	height: 44px;
}

.box3 {	
	flex: 5;
}

.box4 {	
	flex: 10;
}

.box5 {
	flex: 10;
}

.box6 {
	flex: 1;
}

.box6 a {
	text-decoration: none;
	color: rgb(54, 109, 240);
	font-family: Avenir-Heavy;
	font-size: 15px;
	font-weight: 900;	
	letter-spacing: 1.36px;
	line-height: 30px;
}

.spaceRight {
	margin-right: 10px;
}

.active {
	background: rgb(151, 151, 151) !important;
	color: white !important;
}

.upItem {	
	color: rgb(47, 55, 79);
	font-family: Avenir-Black;
	font-size: 20px;
	font-weight: 900;	
	letter-spacing: 1.09px;
}

.downItem {	
	display: block;
	max-width: 450px;
	color: rgb(187, 187, 187);
	font-family: Avenir-Black;
	font-size: 15px;
	font-weight: 900;	
	letter-spacing: 1.36px;
	white-space: nowrap;
    overflow: hidden;    
    text-overflow: ellipsis;	
}

.borderColorTopDown {
	border-top: 1px solid rgb(151, 151, 151);
}

.paddingTopDown {
	padding-top: 14px;
	padding-bottom: 14px;
}

.row:last-child {
	border-bottom: 1px solid rgb(151, 151, 151);
}


